<div class="col-md-12">
	<div class="clearfix">
		<h3 class="pull-left">All Jobs</h3><a href="/job/create" class="btn btn-success btn-lg pull-right">Create Job</a>
	</div>
	<ul class="list-unstyled row">
		<li class="col-md-4" ng-repeat="job in allJobs.jobs">
			<div class="panel">
				<div class="panel-heading">
					<div class="clearfix">
						<h3 class="job-name pull-left">{{job.name}}</h3> <button ng-click='allJobs.removeJob(job._id)' class="btn btn-danger pull-right btn-xs">x</button>
					</div>
					<a class="btn btn-danger btn-xs" href="{{job.url}}" target="_blank"><span class="glyphicon glyphicon-link"></span> View all Notice</a>
					<h5>Notices</h5>
					<section class="job-details-section">
						<job-detail job-id={{job._id}}/>
					</section>
				</div>
			</div>
		</li>
	</ul>
</div>